<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Weather</title>
</head>
<body>
    {% if location and current %}
    <p>{{ location['name'] }}{% if location['region'] %}, {{ location['region'] }} {% endif %}</p>
    <p>Today {{ date }} at {{ time }}</p>
    <p>Weather is {{ current['condition']['text']}}</p>
    <img src="{{ current['condition']['icon'] }}">
    <p>Temp: {{ current['temp_c']}}°C</p>
    <p>Wind Speed: {{ current['wind_mph']}}mph</p>
    <p>Humidity: {{ current['humidity'] }}%</p>
    <p>UV: {{ current['uv'] }}</p>
    {% endif %}
</body>
</html>